.git
.github

.vscode
.idea

**/target
**/build

**/.classpath
**/.project
**/.settings

**/node_modules

**/*.log

frontend/dist
frontend/.next

docker/*.log

microservice-client-starter/target
auth-service/target