
.background {
    backdrop-filter: blur(10px);
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255, 0.2),
        rgba(227, 227, 227, 0.863)
    );
    box-shadow: 0 10px 30px rgba(0,0,0,.10);

    border-radius: 1.25rem;

    width: 100%;
    max-width: 1400px;
    min-height: 90vh;

    padding: 1rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.background h1 {
    font-size: 2.25rem;
    justify-self: center;
    align-self: center;
}

.background h2 {
    padding: 0.75rem;
    font-size: 1.75rem;
    align-self: center;
    justify-self: center;
}
.stepper {
    box-shadow: 0 10px 30px rgba(0,0,0,.10);
    background:rgba(237, 237, 237, 0.7);
    background: linear-gradient(
        to right,
        rgba(250, 250, 249, 0.50),
        rgba(239, 239, 239, 0.85)
    );
    border-radius: 1rem;
    transition: .2s ease;

}

.stepper:hover {
   transform: translateY(-4px);
   box-shadow: 0 10px 30px rgba(117, 117, 117, 0.495);
}

.cards {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0rem;

}

.left-panel {
    background-color: rgb(235, 235, 235);


    margin-top: 1rem;
    min-height: 480px;
    max-height: 500px;
    width: 45%;
    max-width: 45vw;

    box-shadow: 0 10px 30px rgba(0,0,0,.10);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex: 1.4;
}
.right-panel {
    background-color: rgb(227, 227, 227);


    margin-top: 1rem;
    min-height: 480px;
    max-height: 500px;
    width: 55%;
    max-width: 55vw;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.10);
    
    flex: 1.6;
}



.map {
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.optionsGrid{
    align-self: center;
    justify-self: center;
    width: 90%;
    max-width: 500px;
}


.parameter-box {
    background-color: rgba(255,255,255,.7);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 370px;
    max-height: 500px;
}

.parameter-card {
    min-height: 50px;
    max-height: 50px;
    justify-items: center;
}

.parameter-card-textInput {
    max-width: 70px;
    border-radius: 1rem;
    background-color: rgb(221, 221, 221);
    margin-left: 0.5rem;
    border-color: transparent;
    
}



.params-box-buttom {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    gap: 1rem;
    min-width: 450px;
}



@media (max-width: 768px) {

    .cards {
        flex-direction: column;
    }

    .side-card,
    .map {
        width: 100%;
        max-width: 100%;
    }
}

