


##############################################################################################################################################
# AUTH SERVICE 
##############################################################################################################################################

# =========================
# PROFILE
# =========================

SPRING_PROFILES_ACTIVE=prod

# =========================
# DATABASE
# =========================

DATABASE_AUTH_URL=jdbc:postgresql://host.docker.internal:5432/delivera_auth_dev
DATABASE_AUTH_USER=delivera_auth_user
DATABASE_AUTH_PASSWORD=delivera_auth_pass

# =========================
# SERVER
# =========================
GATEWAY_ENABLED=true

AUTH_PORT=9090

ssl_Auth_enabled=false

mTLS_AUTH_enabled=true
mTLS_AUTH_PORT=9091

# =========================
# INTERNAL AUTH
# =========================

AUTH_INTERNAL_KEY=auth-internal-key
DELIVERA_INTERNAL_KEY=delivera-internal-key

# =========================
# SERVICE DISCOVERY
# =========================

DELIVERA_SERVICE_HOSTS=https://host.docker.internal:8081
DELIVERA_SERVICE_BASE_PATH=/api/v2

# =========================
# JWT
# =========================

JWT_EXPIRATION=900000

JWT_ISSUER=delivera-auth-service
JWT_AUDIENCE=delivera-api

JWT_ROTATION_ENABLED=true
JWT_ROTATION_PERIOD=MONTHLY

JWT_ACTIVE_KEY=key-2026-06

# =========================
# REFRESH TOKEN
# =========================

DAYS_TO_REFRESH=2
MAX_DAYS_TO_REFRESH=7

PERIODIC_REFRESH_DELETION_MS=3600000

REFRESH_COOKIE_SECURE_ENABLED=false
REFRESH_COOKIE_DOMAIN=localhost
REFRESH_COOKIE_PATH=/api/v2/

# =========================
# CORS
# =========================

CORS_ALLOWED_ORIGINS=http://localhost:3000

# =========================
# CERTIFICADOS
# =========================

AUTH_KEY_STORE=certs/auth-keystore.p12
AUTH_KEYSTORE_PASSWORD=delivera_auth_password

AUTH_TRUST_STORE=certs/auth-truststore.p12
AUTH_TRUSTSTORE_PASSWORD=delivera_auth_password

AUTH_KEY_STORE_TYPE=PKCS12
AUTH_TRUST_STORE_TYPE=PKCS12

# =========================
# RATE LIMIT
# =========================

IP_MAX_ATTEMPTS=100
IP_WINDOW_MS=60000

USER_IP_MAX_ATTEMPTS=10
USER_IP_WINDOW_MS=60000

USER_MAX_ATTEMPTS=50
USER_WINDOW_MS=60000

FAIL_USER_MAX_ATTEMPTS=20
FAIL_USER_WINDOW_MS=60000

REFRESH_MAX_ATTEMPTS=100
REFRESH_WINDOW_MS=60000

DEVICE_MAX_ATTEMPTS=30
DEVICE_WINDOW_MS=60000