# =========================
# CORS
# =========================

CORS_ALLOWED_ORIGINS=http://localhost:3000


# =========================
# INTERNAL AUTH
# =========================

AUTH_INTERNAL_KEY=auth-internal-key
DELIVERA_INTERNAL_KEY=delivera-internal-key
DATA_INTERNAL_KEY=data-internal-key

# =========================
# SERVICE DISCOVERY
# =========================

#==== DELIVERA =====
#DELIVERA_SERVICE_HOSTS=https://host.docker.internal:8081
DELIVERA_SERVICE_HOSTS=https://delivera-service:8081
DELIVERA_SERVICE_BASE_PATH=/api/v2


#==== AUTH ====
AUTH_SERVICE_HOSTS=https://auth-service:9091
AUTH_SERVICE_BASE_PATH=/api/v2


#==== DATA ====
DATA_SERVICE_HOSTS=https://host.docker.internal:9093
#DATA_SERVICE_HOSTS=https://data-service:9093
DATA_SERVICE_BASE_PATH=/api/v2


# =========================
# SPACE
# =========================
SPACE_URL=https://space.score.us.es
SPACE_TIMEOUT=10000
SPACE_SERVICE=delivera
SPACE_SERVICE_VERSION=1.0.5
SPACE_BASICE_PLAN=MICRO

##############################################################################################################################################
# DELIVERA SERVICE 
##############################################################################################################################################

# =========================
# PROFILE
# =========================

DELIVERA_SPRING_PROFILES_ACTIVE=prod

# =========================
# DATABASE
# =========================

DATABASE_DELIVERA_URL=jdbc:postgresql://delivera-postgres:5432/delivera_dev
DATABASE_DELIVERA_USER=delivera_user
DATABASE_DELIVERA_PASSWORD=delivera_pass

# =========================
# SERVER
# =========================
GATEWAY_ENABLED=true

DELIVERA_PORT=8080

ssl_Delivera_enabled=false

mTLS_DELIVERA_enabled=true
mTLS_DELIVERA_PORT=8081

# =========================
# CERTIFICADOS
# =========================

DELIVERA_KEY_STORE=certs/delivera-keystore.p12
DELIVERA_KEYSTORE_PASSWORD=delivera_password

DELIVERA_TRUST_STORE=certs/delivera-truststore.p12
DELIVERA_TRUSTSTORE_PASSWORD=delivera_password

DELIVERA_KEY_STORE_TYPE=PKCS12
DELIVERA_TRUST_STORE_TYPE=PKCS12


# =========================
# FILES
# =========================

FILE_MAX_UPLOAD_BYTES=2097152

# =========================
# DEMO
# =========================

DEMO_SEED_PASSWORD=demo1234
DEMO_RESET_ON_START=false
DEMO_POPULATE=true
# WITHOUT PORT
DEMO_AUTH_HOST=http://auth-service
DEMO_DATA_HOST=http://data-service


JWKS_HOSTS = http://auth-service:9090

# =========================
# SPACE
# =========================

DELIVERA_SPACE_API_KEY = 
##############################################################################################################################################
# DATA SERVICE 
##############################################################################################################################################

# =========================
# PROFILE
# =========================

DATA_SPRING_PROFILES_ACTIVE=prod

# =========================
# DATABASE
# =========================

DATABASE_DATA_URL=jdbc:postgresql://data-postgres:5432/delivera_data_dev
DATABASE_DATA_USER=delivera_data_user
DATABASE_DATA_PASSWORD=delivera_data_pass

# =========================
# SERVER
# =========================
GATEWAY_ENABLED=true

DATA_PORT=9092

ssl_Data_enabled=false

mTLS_DATA_enabled=true
mTLS_DATA_PORT=9093

# =========================
# CERTIFICADOS
# =========================

DATA_KEY_STORE=certs/data-keystore.p12
DATA_KEYSTORE_PASSWORD=delivera_data_password

DATA_TRUST_STORE=certs/data-truststore.p12
DATA_TRUSTSTORE_PASSWORD=delivera_data_password

DATA_KEY_STORE_TYPE=PKCS12
DATA_TRUST_STORE_TYPE=PKCS12

# =========================
# MAIL
# =========================
MAIL_HOST = smtp.gmail.com
MAIL_PORT = 587
MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_ENABLED=false
MAIL_FROM=noreply@delivera.app

# =========================
# APP
# =========================
TRACKING_URL_BASE=http:localhost:3000/track/
FRONTEND-URL=http://localhost:3000
CONTACT-EMAIL=contact@delivera.com

FMS_ROUTING_URL=http://host.docker.internal:8090

# =========================
# SPACE
# =========================

DATA_SPACE_API_KEY = 

##############################################################################################################################################
# AUTH SERVICE 
##############################################################################################################################################

# =========================
# PROFILE
# =========================

AUTH_SPRING_PROFILES_ACTIVE=prod

# =========================
# DATABASE
# =========================

DATABASE_AUTH_URL=jdbc:postgresql://auth-postgres:5432/delivera_auth_dev
DATABASE_AUTH_USER=delivera_auth_user
DATABASE_AUTH_PASSWORD=delivera_auth_pass

# =========================
# SERVER
# =========================
GATEWAY_ENABLED=true

AUTH_PORT=9090

ssl_Auth_enabled=false

mTLS_AUTH_enabled=true
mTLS_AUTH_PORT=9091





# =========================
# JWT
# =========================

JWT_EXPIRATION=900000

JWT_ISSUER=delivera-auth-service
JWT_AUDIENCE=delivera-api

JWT_ROTATION_ENABLED=true
JWT_ROTATION_PERIOD=MONTHLY

JWT_ACTIVE_KEY=key-2026-06

# =========================
# REFRESH TOKEN
# =========================

DAYS_TO_REFRESH=2
MAX_DAYS_TO_REFRESH=7

PERIODIC_REFRESH_DELETION_MS=3600000

REFRESH_COOKIE_SECURE_ENABLED=false
REFRESH_COOKIE_DOMAIN=localhost
REFRESH_COOKIE_PATH=/api/v2/



# =========================
# CERTIFICADOS
# =========================

AUTH_KEY_STORE=certs/auth-keystore.p12
AUTH_KEYSTORE_PASSWORD=delivera_auth_password

AUTH_TRUST_STORE=certs/auth-truststore.p12
AUTH_TRUSTSTORE_PASSWORD=delivera_auth_password

AUTH_KEY_STORE_TYPE=PKCS12
AUTH_TRUST_STORE_TYPE=PKCS12

# =========================
# RATE LIMIT
# =========================

IP_MAX_ATTEMPTS=100
IP_WINDOW_MS=60000

USER_IP_MAX_ATTEMPTS=10
USER_IP_WINDOW_MS=60000

USER_MAX_ATTEMPTS=50
USER_WINDOW_MS=60000

FAIL_USER_MAX_ATTEMPTS=20
FAIL_USER_WINDOW_MS=60000

REFRESH_MAX_ATTEMPTS=100
REFRESH_WINDOW_MS=60000

DEVICE_MAX_ATTEMPTS=30
DEVICE_WINDOW_MS=60000