# Loaded before env.mode files.
# Any variable defined in env.dev, env.prod or env.local
# will override the values declared here.

# =========================
# SPACE
# =========================


DELIVERA_SPACE_API_KEY = # put your space api key here

DATA_SPACE_API_KEY =  # put your space api key here

SPACE_URL=https://space.score.us.es
SPACE_TIMEOUT=10000
SPACE_SERVICE=delivera
SPACE_SERVICE_VERSION=1.0.12
SPACE_BASICE_PLAN=MICRO